/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.phpunit.result.cache
docker-compose.override.yml
/public/assets/
/public/js/
/public/css/*.min.css
/public/mob/
_generated-imagehelper.scss
yarn.lock
/coverage
/.vscode
/public/*worker.js
/public/temp_webpack_style.css
/public/assets-manifest*.json
/public/css/*.css
/public/styles
/public/dist
/build_target
assets.tar
.php_cs.cache
.local.init.vim
.DS_Store
.testresults
